<div>
    <img src="/public/images/rihanna2.png" alt="riri2">
    <p class="aboutRihanna">
        <span>2005: Rihanna was signed to Jay-Z’s label, Def Jam</span>
        In December 2004, 16-year-old Rihanna recorded the dance-pop, Caribbean-infused jam “Pon de Replay” and sent the
        song off to several record labels. The demo then became her debut song as an artist after reaching the president
        of
        Def Jam, Jay-Z. Rihanna (who went by Robyn) was flown to meet with Jay-Z and executives at the label — signing
        the
        contract of her dreams at the tender age of just 16. The record became an immediate hit when it hit No. 2 on the
        Billboard
        Hot 100 in May 2005, when Rihanna was only 17 years old.
        <br><br>
        <span>2008: Rihanna takes home her first Grammy</span>
        Rihanna took home her first golden gramophone at the 50th annual Grammy Awards, becoming her Recording Academy‘s
        first recognition. On February 10, 2008, Rihanna and Jay-Z took home the trophy for best rap/song collaboration
        with
        their massive No.1 hit “Umbrella” from RiRi’s 2007 album, Good Girl Gone Bad. Rihanna earned four nominations in
        total
        that night, and “Umbrella” was also nominated for record of the year but lost to “Rehab” by Amy Winehouse.
        <br><br>
        <span>2012: Unapologetic becomes Rihanna's first No.1 album</span>
        The singer had a string of No.1 hits after her first with “SOS” in 2006. In the following seven years, she then
        went on to top the charts with hits like “Take a bow,” “Disturbia,” “Rude Boy,” “We Found Love,” and “Diamonds.”
        At age
        23, Rihanna was the youngest artist in history to achieve ten number one hits. Unapologetic shot straight to the
        top
        of the Billboard 200, becoming Rihanna’s first No. 1 album and winning the Grammy for the best urban
        contemporary album
        on January 26, 2014.
        <br><br>
        <span>2014: Rihanna receives CFDA award for Fashion Icon</span>
        By 2014, Rihanna had made her mark in the music business as a platinum-selling singer, and she’d also started to
        establish herself as a true fashion icon. Rihanna’s path to becoming a fashion mogul dates back to 2014 when she
        signed on to be creative director and ambassador for Puma and collaborated with Fenty x Puma. Rihanna then
        received the
        CFDA (Council of Fashion Designers) award for Fashion Icon on June 2nd, 2014. She walked the carpet in a sheer,
        sparkling gown covered in Swarovski crystals. She then went on to win the “Best Dressed” red carpet look at MET
        Gala in
        2015, the theme being China: Through The Looking Glass. The dress was designed by Guo Pei, a Chinese fashion
        designer. It
        took two years to make it since Pei hand-made the gown all by herself.
        <br><br>
        <span>2017: Rihanna named Harvard’s Humanitarian of the Year</span>
        In 2012, Rihanna founded the “Clara Lionel Foundation,” her non-profit organization. Since then, Rihanna has
        used her platform to speak about access to education, winning her the Harvard Humanitarian of the Year award.
        Throughout
        her career, Rihanna has shown solidarity with several social movements worldwide — showing support for the Black
        Lives Matter movement and the Sudanese Revolution — she’s also protested for LGBT+ rights.
        <br><br>
        <span>2017: Rihanna founds Fenty Beauty</span>
        Before she was BadGalRiRi: music, fashion, and beauty icon, Robyn Rihanna Fenty was a little girl in Barbados
        transfixed by her mother’s lipstick. So, after years of experimenting with the best-of-the-best in beauty and
        still seeing
        a void in the industry for products that performed across all skin types and tones, Rihanna launched Fenty
        Beauty on
        September 8th, 2017 — creating formulas that work for all skin types and pinpointing universal shades. Focusing
        on a wide
        range of traditionally hard-to-match skin tones, the brand is famous for its broad inclusivity, especially its
        Pro Filt’R
        foundation. The original foundation launch included 40 shades since expanded to 50. According to Forbes, Fenty
        Beauty is valued at $2.8 billion.
        <br><br>
        <span>2018: Rihanna founds Savage X Fenty</span>
        Savage X Fenty (launched on 11th May 2018) has disrupted the lingerie industry as we know it. The brand
        celebrates fearlessness, confidence, and inclusivity with accessible price points and an extensive range of
        fashion-forward
        styles. Her Savage X Fenty shows and campaigns have been a clever celebration of difference from the beginning —
        showcasing women of different sizes, heights, cultures, and races. “We want to make people look good and feel
        good,”
        explains Rihanna, who approaches Savage X with the same mentality she does in all her projects—to make something
        new and
        fresh that everyone can relate to and feel confident. Savage x Fenty is now worth around $270 million and has
        redefined “sexy,” taking the lingerie industry by storm.
        <br><br>
        <span>2018: Rihanna stars in Hollywood Film, Ocean’s 8</span>
        The iconic superstar‘s various acting roles in film and television have showcased her versatility and superb
        talent aside from music, fashion, and beauty ventures. From her early work, such as Bring It On: All or Nothing,
        she
        has appeared in significant roles in Battleship (2012), Home (2015), Valerian, and the City of a Thousand
        Planets
        (2017). But her role as ‘Nine Ball,’ a bad*ss hacker in the 2018 Hollywood hit film Ocean’s 8, was perfect for
        the star.
        Alongside heist leaders Sandra Bullock and Cate Blanchett, Rihanna plays her role perfectly as she attempts to
        pull off a heist at New York City’s star-studded Met Gala. Ocean’s 8 had a total worldwide gross of $297.7
        million.
        <br><br>
        <span>2021: Rihanna is now officially a billionaire</span>
        On August 4th, 2021, Rihanna was officially declared a billionaire by Forbes. The star is now the wealthiest
        female musician globally and the second richest female entertainer behind Oprah Winfrey. According to the
        publication,
        Rihanna worth $1.7bn at 33 years old. While she became a household name for her smash music hits, Fenty Beauty’s
        success
        has launched her into billionaire status, giving the “Bitch Better Have My Money” singer’s 50% ownership a $1.4
        billion price tag. For Interview Magazine in June 2019, Rihanna said that “with every business outlet, I’m
        making
        something from a vision to reality, and that’s the thing I really enjoy. Music has led me to these other outlets
        and to things
        that I genuinely love. I used to be in the studio for three months straight, and an album would come out,” she
        said.
        “Now, it’s like a carousel. I do fashion one day, lingerie the next, beauty the next, then music the next.”
        <br><br>
        <span>2022: Rihanna announces her pregnancy</span>
        It’s babies on the brain for this superstar as on January 30th, 2022, Rihanna debuted her baby bump while out in
        New York City with her rapper boyfriend, A$AP Rocky. The debut landed days after Rihanna’s fans observed the
        sixth
        anniversary of the singer’s studio album, 2016’s Anti. Rihanna previously opened up about family planning,
        telling
        British Vogue in March 2020 that within the next ten years, she sees herself having “three or four” children,
        whether she has a partner or not.
    </p>
    </dir>