<div class="homeContanier">
    <h1 class="homeTitle">Welcome to Riri's World</h1>
    <img class="homeImage" src="/public/images/rihanna.png" alt="rihanna">
    <p class="homeParagraph">Hello and welcome to Robin Rihanna Fenty's page, i'm glad to introduce you to the fabulous,
        amazing and role
        model that this great artist is.</p>
</div>