<div class="row">
    <div class="col-4">
        <img class="riri-gallery-image" src="/public/images/gallery1.png" />
    </div>
    <div class="col-4">
        <img class="riri-gallery-image" src="/public/images/gallery2.png" />
    </div>
    <div class="col-4">
        <img class="riri-gallery-image" src="/public/images/gallery3.png" />
    </div>
    <div class="col-4">
        <img class="riri-gallery-image" src="/public/images/gallery4.png" />
    </div>
    <div class="col-4">
        <img class="riri-gallery-image" src="/public/images/gallery5.png" />
    </div>
    <div class="col-4">
        <img class="riri-gallery-image" src="/public/images/gallery6.png" />
    </div>
    <div class="col-4">
        <img class="riri-gallery-image" src="/public/images/gallery7.png" />
    </div>
    <div class="col-4">
        <img class="riri-gallery-image" src="/public/images/gallery8.png" />
    </div>
</div>