<div class="row">
    <div class="col-3">
        <img class="music" src="/public/images/albumscovers.png" />
        <h5 class="music-career">Rihanna's musical career over the years</h5>
        <p class="musicCareer">Rihanna was initially discovered by Evan Rogers whilst still at school in Barbados, and
            recorded “Pon de Replay” as a
            demo to deliver to record label Def Jam. It would actually be rapper Jay-Z who would listen to “Pon de
            Replay” for the
            first time, being President and CEO of Def Jam back in the early 00’s. Needless to say, Rihanna was signed
            before she
            could leave the building.
            “Pon de Replay” unsurprisingly went on to be a massive club hit. It peaked at number 2 on the Billboard Hot
            100 and in
            the UK Singles chart too - and yet this was just the beginning of a booming career for Rihanna. Her first
            two
            Caribbean-inspired albums reached the top 10 in US Billboard album charts, and Good Girl Gone Bad (2007) was
            also a
            colossal turning point for Rihanna, moving towards a more pop/dance/R&B sound and a mature look. That album
            included BIG
            tracks like “Umbrella” and “Don’t Stop The Music”.

            Since then, Rihanna has some incredible stats to her name: 250 million record sales worldwide, 14 number 1s,
            9 Grammy
            Awards, 13 AMAs, 12 Billboard Music Awards and 6 Guinness World Records. It’s been nothing but success after
            success for
            Robyn Rihanna Fenty.</p>
    </div>
    <div class="col-3">
        <img class="moviePremier" src="/public/images/Rihanna-Ocean-8.png" />
        <h5 class="movie-star">Rihanna stars in Hollywood Film, Ocean’s 8</h5>
        <p class="movieStar">The iconic superstar‘s various acting roles in film and television have showcased her
            versatility and superb
            talent aside from music, fashion, and beauty ventures. From her early work, such as Bring It On: All or
            Nothing,
            she
            has appeared in significant roles in Battleship (2012), Home (2015), Valerian, and the City of a Thousand
            Planets
            (2017). But her role as ‘Nine Ball,’ a bad*ss hacker in the 2018 Hollywood hit film Ocean’s 8, was perfect
            for
            the star.
            Alongside heist leaders Sandra Bullock and Cate Blanchett, Rihanna plays her role perfectly as she attempts
            to
            pull off a heist at New York City’s star-studded Met Gala. Ocean’s 8 had a total worldwide gross of $297.7
            million.</p>
    </div>
    <div class="col-3">
        <img class="FBeautyLaunch" src="/public/images/fentybeauty.png" />
        <h5 class="fenty-beauty">Rihanna founds Fenty Beauty</h5>
        <p class="fentyBeauty">Before she was BadGalRiRi: music, fashion, and beauty icon, Robyn Rihanna Fenty was a
            little girl in Barbados
            transfixed by her mother’s lipstick. So, after years of experimenting with the best-of-the-best in beauty
            and
            still seeing
            a void in the industry for products that performed across all skin types and tones, Rihanna launched Fenty
            Beauty on
            September 8th, 2017 — creating formulas that work for all skin types and pinpointing universal shades.
            Focusing
            on a wide
            range of traditionally hard-to-match skin tones, the brand is famous for its broad inclusivity, especially
            its
            Pro Filt’R
            foundation. The original foundation launch included 40 shades since expanded to 50. According to Forbes,
            Fenty
            Beauty is valued at $2.8 billion.</p>
    </div>
    <div class="col-3">
        <img class="savageLaunch" src="/public/images/rihannasavgex.png" />
        <h5 class="savage-fenty">Rihanna founds Savage X Fenty</h5>
        <p class="savageFenty">Savage X Fenty (launched on 11th May 2018) has disrupted the lingerie industry as we know
            it. The brand
            celebrates fearlessness, confidence, and inclusivity with accessible price points and an extensive range of
            fashion-forward
            styles. Her Savage X Fenty shows and campaigns have been a clever celebration of difference from the
            beginning —
            showcasing women of different sizes, heights, cultures, and races. “We want to make people look good and
            feel
            good,”
            explains Rihanna, who approaches Savage X with the same mentality she does in all her projects—to make
            something
            new and
            fresh that everyone can relate to and feel confident. Savage x Fenty is now worth around $270 million and
            has
            redefined “sexy,” taking the lingerie industry by storm.</p>
    </div>
</div>